@import url("https://fonts.googleapis.com/css2?family=Khula:wght@300;400;700&family=Russo+One&display=swap");
html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Khula", sans-serif;
  color: rgba(255, 255, 255, 0.85);
  position: relative;
}

.background {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-image: radial-gradient(rgba(255, 193, 22, 0.7), rgba(20, 20, 20, 0.7)), url(../img/background.jpg);
  background-size: cover;
  filter: saturate(1.5);
}

.header {
  height: 12rem;
  position: relative;
}
.header a .link {
  opacity: 0.75;
  width: 7rem;
  position: absolute;
  right: 4rem;
  fill: #fff;
  transition: all 0.1s;
}
.header a .link:hover {
  width: 6.5rem;
  opacity: 1;
  fill: #16161a;
}

.pad {
  width: 110rem;
  height: 63rem;
  background-color: #2c2828;
  border-radius: 15px;
  border-top: 15px outset #737978;
  border-left: 15px outset #53595a;
  border-right: 25px inset #242222;
  border-bottom: 25px inset #16161a;
  position: absolute;
  left: 50vw;
  transform: translateX(-50%);
  box-shadow: 3px 3px 8px 3px rgba(22, 22, 26, 0.75);
}
@media screen and (max-width: 1200px) {
  .pad {
    transform: translateX(-50%) scale(0.75);
  }
}

.main {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  height: 92%;
  width: 92%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controls {
  height: inherit;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.controls__name {
  font-family: "Russo One", sans-serif;
  font-size: 3.2rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 0 6px;
  transform: scaleX(1.15);
  transform-origin: left;
}
.controls__effects {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.controls__effect {
  flex: 0 0 45%;
  display: flex;
  align-items: center;
}
.controls__big-btn {
  background-color: #242222;
  height: 10rem;
  width: 10rem;
  border-radius: 5px;
  transition: all 0.15s;
  box-shadow: 2px 2px 0 3px #16161a;
  font-family: "Russo One", sans-serif;
  color: #53595a;
  text-transform: uppercase;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0.5rem;
}
.controls__big-btn:active {
  transform-origin: bottom right;
  transform: scale(0.95);
  box-shadow: 0 0 3px 2px #29ff22;
}
.controls__spinner {
  width: 5rem;
}
.controls__volume {
  transform: rotate(-90deg);
  -webkit-appearance: none;
  background: transparent;
  width: 10rem;
}
.controls__volume:hover {
  outline: none;
}
.controls__volume:hover::-webkit-slider-runnable-track {
  background: #920404;
}
.controls__volume::-webkit-slider-runnable-track {
  height: 1.2rem;
  cursor: pointer;
  background: #242222;
  border-radius: 32px;
  border: 3px inset #242222;
  transition: all 0.15s;
}
.controls__volume::-webkit-slider-thumb {
  border: 1px solid #16161a;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 31px;
  background: radial-gradient(#737978 20%, #16161a 90%);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -1rem;
}
.controls label {
  text-transform: uppercase;
}
.controls__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  margin-right: 1.5rem;
  flex: 0 0 40%;
}
.controls__btn {
  width: 5rem;
  height: 3rem;
  transition: all 0.1s;
  font-size: 2.5rem;
  border: none;
  background-color: #556353;
  border: 4px inset #242222;
  cursor: pointer;
}
.controls__btn:focus {
  height: 3rem;
  font-size: 2.5rem;
}

.btns {
  height: inherit;
  flex: 0 0 73rem;
  border: 2px solid #53595a;
  border-radius: 8px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.btns__container {
  display: grid;
  grid-template-columns: repeat(4, 16rem);
  grid-template-rows: repeat(3, 16rem);
  margin-right: 16px;
}
.btns__btn {
  background-color: #242222;
  margin: 8px;
  border-radius: 5px;
  transition: all 0.1s;
  box-shadow: 2px 2px 0 4px #16161a;
  font-family: "Russo One", sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 10px;
}
.btns__btn:active {
  transform-origin: bottom right;
  transform: scale(0.95);
  box-shadow: 0 0 6px 3px #29ff22;
}
.btns__type {
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: #53595a;
}
.btns__key {
  font-size: 6rem;
  align-self: flex-end;
}

.footer {
  font-size: 2rem;
  text-align: center;
  vertical-align: center;
  margin-top: 5rem;
  font-weight: 400;
}

.keyPress {
  transform-origin: bottom right;
  transform: scale(0.95);
  box-shadow: 0 0 6px 3px #29ff22;
}

/*# sourceMappingURL=style.css.map */
