$--color-primary: rgb(44, 40, 40);
$--color-primary-light: rgb(83, 89, 90);
$--color-primary-light-2: rgb(115, 121, 120);
$--color-primary-dark: rgb(22, 22, 26);
$--color-primary-dark-2: rgb(36, 34, 34);

$--color-lgd: rgb(41, 255, 34);
$--color-lgd-2: rgb(25, 117, 255);
$--color-monitor: rgb(85, 99, 83);
$--color-font: #fff;

$--font-main: "Russo One", sans-serif;
$--font-sub: "Khula", sans-serif;

@mixin absCenter {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

@mixin btnClick {
  transform-origin: bottom right;
  transform: scale(0.95);
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $--font-sub;
  color: rgba($--color-font, 0.85);
  position: relative;
}
